@font-face {
    font-family: domain;
    src: url(./fonts/Domain.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
    color: white;
}
html,body{
    width: 100%;
    height: 100%;
    
}

.page1{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #334155;
}
.center{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 60%;
      z-index: 5;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #334155;
}
.center>h1{
    font-size: 2.5vw;
    margin: 1.5vw 0 3vw 0;
    border-bottom: 1px dashed white;
}
.center .game-board{
    display: grid;
    grid-template-columns: repeat(3, minmax(7vw,1fr));
}
.center .game-board .cell{
    height:100px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    padding: 1.6vw;
    font-weight: 600;
    font-size: 2.5vw;
    cursor: pointer;
}
.center .game-board .cell:first-child,.center .game-board .cell:nth-child(2),.center .game-board .cell:nth-child(3){
    border-top: none;
}
.center .game-board .cell:nth-child(3n){
    border-right: none;
}
.center .game-board .cell:nth-child(3n+1){
    border-left: none;
}
.center .game-board .cell:nth-child(n+7){
    border-bottom: none;
}
.center .game-players{
    display: flex;
    gap: 2.5vw;
    margin-top: 2.5vw;
    
}
.center .game-players .player{
    font-size: 2vw;
    font-weight: 700;
}
.center button{
    /* border: none; */
    font-size: 2vw;
    margin-top: 2vw;
    padding: 0.5vw 1vw;
    color: black;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}
.center button:hover{
    border: 1px solid black;
    background-color: #4a607f;
}
.page1-top{
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    z-index: 9;
    overflow: hidden;
    background-color: whitesmoke;
}
.page1-bottom{
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    z-index: 9;
    overflow: hidden;
    background-color: whitesmoke;
}
.page1-top-h{
       font-family: domain;
       font-size: 18vw;
       position: absolute;
       bottom: -35%;
       left: 7%;
       color: black;
}
.page1-bottom-h{
    font-family: domain;
    font-size: 18vw;
    position: absolute;
    top: -50.8%;
    left: 7%;
    color: black;
}
.cell.disabled{
    background-color: #8c8c8c;
}

.alertBox{
    position: absolute;
    top: 0;
    background-color: #dfdfdf;
    color: #4d4b51;
    width: 100%;
    padding: 8px 12px;
    font-size: 22px;
    font-weight: 600;
    font-family: "gilroy";
    height: 40px;
    display:none;
}